*.user
EleWise.ELMA.Local.sln
EleWise.ELMA.local.sln
EleWise.ELMA_Local.sln
EleWise.SharpDevelop.BuildIn.sln
_ReSharper.EleWise.ELMA
_ReSharper.EleWise.ELMA.VSTools
_ReSharper.EleWise.ELMA.local
bin/
obj/
*.suo
App_Data/

/EleWise.ELMA.Languages.proj.bak
/EleWise.ELMA.Languages.proj
/msbuild.log
/UpgradeLog.htm
/.vs

/Applications/BPM/EleWise.ELMA.BPM/Resources/base
/Applications/BPM/EleWise.ELMA.BPM.Web/App_Data/
/Applications/BPM/EleWise.ELMA.BPM.Web/logs/
/Applications/BPM/EleWise.ELMA.BPM.Web/Resources/base
/Applications/BPM/EleWise.ELMA.BPM.Web/Web.Published.config
/Applications/BPM/EleWise.ELMA.BPM.Web/Modules/EleWise.ELMA.BPM.Web.Common/Content/Help
/Applications/BPM/EleWise.ELMA.BPM.Web/Modules/EleWise.ELMA.BPM.Web.Content/Content/DemoWelcomScreen
/Applications/BPM/EleWise.ELMA.BPM.Web/Modules/EleWise.ELMA.CRM.Workflow.Processes.Web/Content/Help
/Applications/BPM/EleWise.ELMA.BPM.Web/Modules/EleWise.ELMA.Documents.Docflow.Web/Content/ELMAOutlookAddin.exe
/Applications/BPM/EleWise.ELMA.BPM.Web/Modules/EleWise.ELMA.Documents.Docflow.Web/Content/Help
/Applications/BPM/EleWise.ELMA.BPM.Web/Modules/EleWise.ELMA.KPI.Web/Content/Help
/Applications/BPM/EleWise.ELMA.BPM.Web/Modules/EleWise.ELMA.Projects.Web/Content/Help

/Backup/

/build/BPM/
/build/Config/en-US
/build/Files/Dev/VS2012/VSPlugin/EleWise.ELMA.SDK.VS2013Package.dll
/build/Files/Dev/VS2012/VSPlugin/EleWise.ELMA.SDK.VS2013Package.dll.config
/build/Files/Dev/VS2012/VSPlugin/EleWise.ELMA.SDK.VS2013Package.vsix
/build/Files/Dev/VS2013/VSPlugin/EleWise.ELMA.SDK.VS2013Package.dll
/build/Files/Dev/VS2013/VSPlugin/EleWise.ELMA.SDK.VS2013Package.dll.config
/build/Files/Dev/VS2013/VSPlugin/EleWise.ELMA.SDK.VS2013Package.vsix
/build/Files/vssdk/Microsoft.VisualStudio.Shell.dll

/Extensions/Modules/EleWise.ELMA.CRM.Workflow.Processes/Help
/Extensions/Modules/EleWise.ELMA.Common/Help
/Extensions/Modules/EleWise.ELMA.Documents.Docflow/Help
/Extensions/Modules/EleWise.ELMA.KPI/Help
/Extensions/Modules/EleWise.ELMA.Projects/Help

/Extensions/Visual Studio2013/DesignerBin/
/Extensions/Visual Studio2013/msbuild.log
/Extensions/VisualStudio/DesignerBin/
/Extensions/VisualStudio/log.txt
/Extensions/VisualStudio/msbuild.log

/Installer/Compiled
/Installer/elma-setup-languages.iss
/Installer/elma-setup-languages.iss.bak
/Installer/elma-setup-ce-languages.iss
/Installer/elma-setup-ce-languages.iss.bak
/Resources/EleWise.ELMA.BPM.MUI.de-DE.nuspec
/Applications/BPM/EleWise.ELMA.BPM.Web/FilePreviewCreators
/Applications/BPM/FilePreviewCreators
/Installer/InstallerPackage
/Installer/Languages/

/Packaging/EleWise.ELMA.Packaging/Resources/base
/packagesRepository/
/packages/PostgreSQL.9.5.5.0/Content/

/Resources/Localization/
/Resources/*.nuspec

/SDK/EleWise.ELMA.SDK/Resources/base

/Tools/Obfuscation/Files.txt


# Do not ignore these!
!/Installer/Languages/ru-RU

# End of do-not-ignore
/Applications/BPM/FilePreviewCreator
